@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flash-green {
        animation: flash-green 0.5s ease-in-out;
    }

    .flash-red {
        animation: flash-red 0.5s ease-in-out;
    }
}

@keyframes flash-green {

    0%,
    100% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(34, 197, 94, 0.3);
    }
}

@keyframes flash-red {

    0%,
    100% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(239, 68, 68, 0.3);
    }
}